[submodule "lanyard"]
	path = lanyard
	url = https://github.com/convstack/lanyard.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/convstack/dashboard.git
[submodule "guidebook"]
	path = guidebook
	url = https://github.com/convstack/guidebook.git
