[submodule "lanyard"]
	path = lanyard
	url = https://github.com/convstack/lanyard.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/convstack/dashboard.git
[submodule "guidebook"]
	path = guidebook
	url = https://github.com/convstack/guidebook.git
[submodule "ledger"]
	path = ledger
	url = https://github.com/convstack/ledger.git
[submodule "schedule"]
	path = schedule
	url = https://github.com/convstack/schedule.git
[submodule "service-sdk"]
	path = service-sdk
	url = https://github.com/convstack/service-sdk.git
